<h1> Data Science Tools and Ecosystem </h1>

<p>
    In this notebook, Data Science Tools and Ecosystem are summarized.
</p>

<b>Objectives:</b>
 
<ul>
    <li>List populer languages for Data Science</li>
    <li>List populer Tools for Data Science</li>
    <li>Reviewing Jupyter Notebook Features</li>
</ul>

<h2>Author</h2>
Saber

Some of the popular languages that Data Scientists use are:
<ol>
    <li>Python</li>
    <li>R</li>
    <li>SQL</li>
</ol>

Some of the commonly used libraries used by Data Scientists include:
<ol>
    <li>Pandas</li>
    <li>Numpy</li>
    <li>SciKit Learn</li>
</ol>

| Number   | Data Science Tools |
| -------- | ------- |
| 1  | Anaconda    |
| 2 | Apache     |
| 3    | TensorFlow    |

Below are a few examples of evaluating arithmetic expressions in Python.

1. **Addition**: `5 + 3` results in `8`
2. **Subtraction**: `10 - 4` results in `6`
3. **Multiplication**: `7 * 2` results in `14`

In [2]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [4]:
# This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335